@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

button, .poem-text, .explain, h1 {
  font-family: 'Muli', sans-serif;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  color: #222;
}

.App-title {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  padding: 15px 25px 0;
  margin: 10px;
}

.explain {
  font-size: 20px;
  padding: 0 15px;
  margin: 10px;
}


.poem-button,
.emphasize-button {
  width: 150px;
  height: 45px;
  font-size: 18px;
  margin: 20px;
  color: white;
  background: #AB0B0B;
}

.emphasize-button {
  font-size: 16px;
  width: 250px;
  height: 38px;
}

.poem-button:hover,
.emphasize-button:hover {
  background: red;
}

.emphasize-button:disabled {
  background: gray;
}

.line-contain {
    margin: 0 auto;
    height: 120px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECECED;
}

.poem-text {
  font-size: 21px;
  padding: 25px 10px;
  line-height: 26px;
  color: #222;
}

.tampon-icon {
  height: 60px;
}

.button-contain {
  height: 90px;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background: #222;
}

.nav-button, .nav-button-credits {
  color: white;
  background: none;
  position: absolute;
  border: none;
  text-decoration: underline;
  font-size: 18px;
  top: 10px;
}

.nav-button {
  right: 80px
}

.nav-button-credits {
  right: 10px;
}
